.homepage {
    background: #0d1117;
    color: #f0f6fc;
    font-family: "Courier New", monospace;
    /*border-radius: 12px;*/
    /*display: flex;*/
    /*!*flex-direction: column;*!*/
    /*align-items: center;*/
    /*justify-content: center;*/
}